.App {
    font-family: 'Poppins', sans-serif;
    background-color: #EFFFEB;
    min-height: 100vh;
}
.Main {
    padding-top: 5rem;
}
* {
    box-sizing: border-box;
  }
  
  a {
    color: #525252;
    transition: color ease-in-out 0.2s;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:hover i {
    color: #0B8806;
    transition: color ease-in-out 0.2s;
  }
  
  i {
    color: #CAC9CF;
    font-size: 1.5rem;
    padding: 0.4rem;
    vertical-align: middle;
  }
  
  i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #0B8806;
  }